<!doctype html>
<html>
<head>
        <title>BeYourBest</title>
        <link rel = "stylesheet" type="text/css" href="styles.css">
        <link rel = "stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
<body>
        {{{body}}}
        <script src="/js/popper.min.js"></script>
        <script src="/js/jquery-slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/script.js"></script>
</body>
</html>