<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000/">BeYourBest</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/trainers">Trainers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/equipment">Equipment</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Classes</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://localhost:3000/classes">View Classes</a>
                    <a class="dropdown-item" href="http://localhost:3000/signup">Enroll</a>
                </div>
            </li>
        </ul>
    </div>
</nav>    
<div class="container"> 
    {{#if className}}
    <h1 class="display-4 text-center">Enrolled Members For {{className}}</h1>
    {{/if}}

    {{#if enrolled_list}}
    <table id="enroll-table" class="table table-sm">
        <tr>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </tr>
        {{#each enrolled_list}}
        <tr scope="row">
            <td>{{first}} {{last}}</td>
            <td><button type="submit">Remove</button></td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</div>
<footer class="py-5 bg-dark">
  <div class="container">
     <p class="m-0 text-center text-white">Copyright &copy; BeYourBest Fitness 2020</p>
  </div>
</footer>
<script src="script.js"></script>
