doctype html
html
    head
        meta(charset='utf-8')
        title BeYourBest
        link(rel='styesheet', type='text/css', href='styles.css')
        link(rel='styesheet', type='text/css', href='/css/bootstrap.min.css')
    body
        nav(class='navbar navbar-expand-lg navbar-light bg-light')
            a(class='navbar-brand' href = 'http://localhost:3000/')
            div(class='collapse navbar-collapse')
                ul(class='navbar-nav')
                    li(class='nav-item')
                        a(classs='nav-link', href = "http://localhost:3000/members") Members
                    li.nav-item
                        a(class='nav-link', href = "http://localhost:3000/trainers") Trainers
                    li(class='nav-item')
                        a(class='nav-link', href = "http://localhost:3000/equipment") Equipment
                    li(class='nav-item dropdown')
                        a(class='nav-link dropdown-toggle', href = "#")
        h1(class='display-4') HELLO THERE 
        
                