extends layout.pug
block content
    nav(class='navbar navbar-expand-lg navbar-light bg-light')
        a(class='navbar-brand' href = 'http://localhost:3000/') BeYourBest
        div(class='collapse navbar-collapse')
            ul(class='navbar-nav')
                li(class='nav-item')
                    a(class='nav-link', href='http://localhost:3000/members') Members
                li(class='nav-item')
                    a(class='nav-link', href = "http://localhost:3000/trainers") Trainers
                li(class='nav-item')
                    a(class='nav-link', href = "http://localhost:3000/equipment") Equipment
                li(class='nav-item dropdown')
                    a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Classes
                    div(class="dropdown-menu", aria-labelledby="navbarDropdown")
                        a(class="dropdown-item", href="http://localhost:3000/classes") View Classes
                        a(class="dropdown-item", href="http://localhost:3000/signup") Enroll
            ul(class="navbar-nav ml-auto")
                li(class="nav-item")
                    a(class="nav-link", href="http://localhost:3000/create-account") Create Account
                li(class="nav-item active")
                    a(class="nav-link", href="http://localhost:3000/login") Login
    div(class="container")
        h1(class="display-4 text-center") Login
        if messages.error
            p= messages.error
        form(method = "POST", action = "/login")
            div(class="form-group")
                label(for="email") Email
                input(class="form-control", type="email", name="email" required)
                br
            div(class="form-group")
                label(for="password") Password
                input(class="form-control", type="password", name="password" required)
                br
            div(class="form-group")
                input(class="form-control", type="submit", value="Submit")