extends layout.pug
block content
    nav(class='navbar navbar-expand-lg navbar-light bg-light')
        a(class='navbar-brand' href = 'http://localhost:3000/') BeYourBest
        div(class='collapse navbar-collapse')
            ul(class='navbar-nav')
                li(class='nav-item')
                    a(class='nav-link', href='http://localhost:3000/members') Members
                li(class='nav-item')
                    a(class='nav-link', href = "http://localhost:3000/trainers") Trainers
                li(class='nav-item')
                    a(class='nav-link', href = "http://localhost:3000/equipment") Equipment
                li(class='nav-item dropdown active')
                    a(class="nav-link dropdown-toggle", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Classes
                    div(class="dropdown-menu", aria-labelledby="navbarDropdown")
                        a(class="dropdown-item", href="http://localhost:3000/classes") View Classes
                        a(class="dropdown-item", href="http://localhost:3000/signup") Enroll
    div(class="container")
        h1(class="display-4 text-center") Update #{className} Class
        form(method = "POST", action = "/update-class")
            input(type = "hidden" name = "classId" value= classId)
            div(class="form-group")
                label(for="name") Name of Class:
                input(class="form-control", type="text", name="name", value= className required)
                br
            div(class="form-group")
                label(for="instructor") Instructor:
                select(class="form-control" name="instructor")
                    if trainer_list
                        option(value= trainerId)= trainerName
                        each trainer in trainer_list
                            option(value= trainer.id)= trainer.first + ' ' + trainer.last
                br
            div(class="form-group")
                label(for="capacity") Max Capactiy
                input(class="form-control", type="number", name="new_capacity", value= capacity required)
                br
            div(class="form-group")
                label(for="date_time") Date and Time
                input(class="form-control", type="datetime-local", name="new_time", value= timeOfClass required)
                br
            div(class="form-group")
                input(class="form-control", type="submit", value="Submit") 
